# Created by https://www.gitignore.io/api/sbt,scala (almost)

### SBT ###
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target
lib_managed/
src_managed/
project/boot/
project/plugins
project/target
.history
.cache
.lib/
.idea/**
*.iml
*.ipr
*.iws
.idea
out

### Scala ###
*.class
*.log

# End of https://www.gitignore.io/api/sbt,scala